<h2>Reactive: Switches</h2>
<hr />

<form [formGroup]="myForm" autocomplete="off" (ngSubmit)="onSave()">
	<!-- Radio -->
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Gender</label>
		<div class="col-sm-9">
			<div class="form-check">
				<input
					class="form-check-input"
					type="radio"
					value="M"
					id="maleRadio"
					formControlName="gender"
				/>
				<label class="form-check-label" for="maleRadio"> Male </label>
			</div>

			<div class="form-check">
				<input
					class="form-check-input"
					type="radio"
					value="F"
					id="femaleRadio"
					formControlName="gender"
				/>
				<label class="form-check-label" for="femaleRadio"> Female </label>
			</div>

			<span class="form-text text-danger" *ngIf="isValidField('gender')">
				You must choose a gender
			</span>
		</div>
	</div>

	<!-- Switches -->
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Notifications</label>
		<div class="col-sm-9">
			<div class="form-check form-switch mt-2">
				<input
					class="form-check-input"
					type="checkbox"
					id="flexSwitchCheckChecked"
					formControlName="notifications"
				/>
				<label class="form-check-label" for="flexSwitchCheckChecked"
					>I would like to receive notifications</label
				>
			</div>
		</div>
	</div>

	<!-- Switches -->
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<div class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					id="flexCheckDefault"
					formControlName="termsAndConditions"
				/>
				<label class="form-check-label" for="flexCheckDefault">
					Terms and Conditions of use
				</label>
			</div>
			<span
				class="form-text text-danger"
				*ngIf="isValidField('termsAndConditions')"
			>
				You must accept the terms and conditions of use
			</span>
		</div>
	</div>

	<!-- Button submit -->
	<div class="row">
		<div class="col">
			<button class="btn btn-primary float-end" type="submit">Save</button>
		</div>
	</div>
</form>

<h5>Form value</h5>
<pre>{{ myForm.value | json }}</pre>
<br />

<h5>Person</h5>
<pre>{{ person | json }}</pre>
<br />

<h5>Valid</h5>
<pre>{{ myForm.valid | json }}</pre>

<!-- <h5>Terms</h5> -->
<!-- <pre>{{ myForm.controls?.terms?.errors | json }}</pre> -->

<!-- <br>
<pre>Conditions: </pre> -->
