<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
	<div class="col">
		<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
			<!-- Name -->
			<div class="row mb-3">
				<label class="col-sm-3 col-form-label">Name</label>
				<div class="col-sm-9">
					<input
						type="text"
						class="form-control"
						placeholder="Name"
						formControlName="name"
					/>

					<span class="form-text text-danger" *ngIf="isValidField('name')">
						{{ getFieldError("name") }}
					</span>
				</div>
			</div>

			<!-- Email -->
			<div class="row mb-3">
				<label class="col-sm-3 col-form-label">Email</label>
				<div class="col-sm-9">
					<input
						type="email"
						class="form-control"
						placeholder="Email"
						formControlName="email"
					/>
					<span class="form-text text-danger" *ngIf="isValidField('email')">
						{{ getFieldError("email") }}
					</span>
				</div>
			</div>

			<!-- Username -->
			<div class="row mb-3">
				<label class="col-sm-3 col-form-label">Username</label>
				<div class="col-sm-9">
					<input
						type="text"
						class="form-control"
						placeholder="Username"
						formControlName="username"
					/>
					<span class="form-text text-danger" *ngIf="isValidField('username')">
						{{ getFieldError("username") }}
					</span>
				</div>
			</div>

			<!-- Password -->
			<div class="row mb-3">
				<label class="col-sm-3 col-form-label">Password</label>
				<div class="col-sm-9">
					<input
						type="password"
						class="form-control"
						placeholder="Password"
						formControlName="password"
					/>

					<span class="form-text text-danger" *ngIf="isValidField('password')">
						{{ getFieldError("password", true) }}
					</span>
				</div>
			</div>

			<!-- Password2 -->
			<div class="row mb-3">
				<label class="col-sm-3 col-form-label">Confirm</label>
				<div class="col-sm-9">
					<input
						type="password"
						class="form-control"
						placeholder="Confirm password"
						formControlName="password2"
					/>

					<span class="form-text text-danger" *ngIf="isValidField('password2')">
						{{ getFieldError("password2", true) }}
					</span>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<button class="btn btn-primary float-end" type="submit">
						Create
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<h5>Form Valid:</h5>
<pre>{{ myForm.valid | json }}</pre>

<h5>Form Status:</h5>
<pre>{{ myForm.status | json }}</pre>

<h5>Form Pending:</h5>
<pre>{{ myForm.pending | json }}</pre>

<h5>Form errors</h5>
<pre>{{ myForm.errors | json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.controls["name"].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls["email"].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.controls["username"].errors | json }}</pre>

<h5>Password</h5>
<pre>{{ myForm.value.password | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.controls["password2"].errors | json }}</pre>
